csx/
ecf/
rcf/
obj/
bin/
packages/
config/
ipch/
IsmIoTPorta/sw-updates/
*.user
appsettings.config
apsettings.Secret.config
connections.config
connections.Public.config
connections.Secret.config
*.cscfg
*.csdef
