<?xml version="1.0" encoding="utf-8"?>

<!-- Weitere Informationen zum Verwenden der Web.config-Transformation finden Sie unter "http://go.microsoft.com/fwlink/?LinkId=301874". -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings configSource="bin\appsettings.Release.config" xdt:Transform="Replace"/>
  <!--
    Im folgenden Beispiel wird durch die Transformation "SetAttributes" der Wert von
    "connectionString" geändert, sodass "ReleaseSQLServer" nur verwendet wird, wenn
    vom Locator "Match" ein Attribut vom Typ "name" mit dem Wert "MyDB" gefunden wird.

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      Im folgenden Beispiel ersetzt die Transformation "Replace" den gesamten
      Abschnitt "<customErrors>" der Datei "Web.config".
      Da unter dem Knoten "<system.web>" nur ein Abschnitt vom Typ
      "customErrors" vorhanden ist, muss das Attribut "xdt:Locator" nicht verwendet werden.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Replace" xdt:Transform="Replace">
      <clear/>
      <error statusCode="400" path="/Error/BadRequest" responseMode="ExecuteURL"/>
      <error statusCode="401" path="/Error" responseMode="ExecuteURL"/>
      <error statusCode="403" path="/Error" responseMode="ExecuteURL"/>
      <error statusCode="404" path="/Error/NotFound" responseMode="ExecuteURL"/>
      <error statusCode="405" path="/Error" responseMode="ExecuteURL"/>
      <error statusCode="406" path="/Error" responseMode="ExecuteURL"/>
      <error statusCode="408" path="/Error" responseMode="ExecuteURL"/>
      <error statusCode="412" path="/Error" responseMode="ExecuteURL"/>

      <error statusCode="500" path="/Error" responseMode="ExecuteURL"/>
      <error statusCode="501" path="/Error" responseMode="ExecuteURL"/>
      <error statusCode="502" path="/Error" responseMode="ExecuteURL"/>
      <error statusCode="503" path="/Error/Unavailable" responseMode="ExecuteURL"/>
    </httpErrors>
  </system.webServer>
</configuration>
